.container {
    margin: 80px;
    display: flex;
    justify-content: flex-start;
}
.view, .controller, .model {
    border: solid 1px #888;
    box-shadow: 5px 5px 7px #aaa;
    width: 350px;
    margin-right: 30px;
    height: 350px;
}
h2 {
    background-color: #ccc;
    margin: 0;
    padding: 10px;
    text-align: center;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.nav li {
    flex-grow: 1;
    background-color: #ddd;
    /* margin-top: 5px; */
    margin: 3px;
    text-align: center;
    padding: 3px 5px;
    cursor: pointer;
}
.models div {
    margin-bottom: 30px;
}
.models pre {
    padding: 10px;
}
h3 {
    margin: 40px 10px 10px;
}
input[type="radio"]{
    margin-left: 20px;
}
.tile {
    display: inline-block;
    border: solid 1px #888;
    margin: 10px 3px;
    padding: 5px;
    text-align: center;
}
table{
    border-collapse: collapse;
    margin-left: 30px;
}
table, th, td {
    border: solid 1px #888;
    padding: 5px;
}